footer
  .container.text-center
    hr
    .row
      .col-md-2
          a.btn.btn-raised(href='/about', role='button') About us »
      .col-md-2
        p
          a.btn.btn-raised(href='/faq', role='button') Help/FAQ »
      .col-md-2
        p
          a.btn.btn-raised(href='/contact', role='button') Contact »
      .col-md-3
        p
          a.btn.btn-raised(href='/terms', role='button') Terms & Conditions »
      .col-md-2
        p
          a.btn.btn-raised(href='#', role='button') Policy »
      .col-md-1
    hr
    .row
      p.float-left © 2021 Company, Inc. All Rights Reserved
      ul.float-right.list-inline
        li.list-inline-item
        // a(href='https://github.com/sahat/hackathon-starter') GitHub Project
        li.list-inline-item
        // a(href='https://github.com/sahat/hackathon-starter/issues') Issues
