
extends layout

block content
    .row
        .col-md-12
            embed(src="/about_us.pdf#toolbar=0" type="application/pdf" style="border: none ! important;" width="800" height="850")
            