
extends layout

block content
    div(class="container")
        .row
            .col-md-12 
                h1(style="text-align:center") ABOUT US 
        .row

    div(class="container")
            .row
                .col-md-12
                    .card
                        h6(style="padding: 10px; text-align:center") QRdly connects you to your customers. With deep knowledge of the trade show environment, we partner with you to maximize every lead, deliver timely and relevant information to your prospects and customers, help you schedule your showroom appointments, and more.
            


            