extends layout

block content
    
    div(class="container")
        .row
            .col-md-12 
                h1  FAQ/HELP    
        hr(style="height:1px;border:none;color:#333;background-color:#333;") 
    div(class="container")
        .row
            .col-md-6 #[br]
                h5 Do I need any special equipment to use QRdly? #[br]#[br]
            .col-md-6 #[br]
                h5 No QRdly is an integrated solution that requires no equipment.#[br] #[br]#[br] 

    div(class="container")    
        .row
            .col-md-6
                
                h5 Do my Prospects need to download an app to use QRdly? #[br]#[br]
            .col-md-6

                h5 No, QRdly is a progressive application that works by a scan of a QR code. Nothing to install, nothing to download. #[br] #[br]#[br] 
    div(class="container")    
        .row
            .col-md-6
                
                h5 How do I purchase QRdly for my business? #[br]#[br]
            .col-md-6

                h5 Register here to create a QR code for your business that will encapsulate all the features you need. #[br] #[br]#[br] 

    div(class="container")    
        .row
            .col-md-6
                
                h5 Do I need to sign a contract? #[br]#[br]
            .col-md-6

                h5 No, we are so sure of the value of QRdly that if you are not delighted by our results you can cancel at any time. #[br] #[br]#[br] #[br]#[br] 
        hr(style="height:1px;border:none;color:#333;background-color:#333;")
        .row
            .col-md-12
                h2(style="text-align:center") Stick with us because the competition QRdly compares! #[br]#[br]

