
extends layout

block content
  h1 QRdly
  if !user
    .row
      .col-md-2
      .col-md-4
        iframe(type='text/html' width='640' height='390'
        src='https://www.youtube.com/embed/uLeAot4Zrxo'
        frameborder='0')
      .col-md-4
      .row
        p.lead An app for the discerning client on the go.
  hr
  .row
    .col-md-3
        a.btn.btn-raised(href='#', role='button') About us »
    .col-md-3
      p
        a.btn.btn-raised(href='#', role='button') Help/FAQ »
    .col-md-4
      p
        a.btn.btn-raised(href='#', role='button') Terms & Conditions »
    .col-md-2
      p
        a.btn.btn-raised(href='#', role='button') Policy »