
extends layout

block content
    div(class="container")
        .row
            .col-md-12 
                h1(style="text-align:center") Terms and Conditions
        .row

    div(class="container")
            .row
                .col-md-12
                    .card
                        h6(style="padding: 10px; text-align:center") Welcome to Qrdly. We’re glad you’re here, and we hope our services meet your expectations. Please read these Terms carefully. By accessing or using any part of the site or application, you agree to be bound by these Terms.These Terms govern your use of the website that links to these Terms. In these Terms, the word “Site” refers to our website and the services offered on that Site. You automatically agree to these Terms and to our Privacy Statement simply by using or logging into the application or Site.
            


            